/* CSS for homework 1 */

body {
    background-image: url('../images/what-the-hex.png');
}

/*---HEADER SECTION---*/
.header-section {
    margin: 0 auto;
    padding: 10px;
    border-bottom: 1px solid #777777;
    background-color: white;
}

#header-name {
    background-color: #4aaaa5;
    color: white;
    margin: 0 0 0 25px;
    padding: 10px;
    width: 400px;
    height: 75px;
    float: left;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    text-align: center;
}

.header-links {
    background-color: white;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 0 auto;
    padding: 40px 40px 27px 40px;
    color: #777777;
}

.link-text {
    text-align: right;
    margin: 0 auto;
    width: 100%;
}
a {
    text-decoration: none;
    color: #777777;
}

a:link {
    color: #777777;
}

a:visited {
    color: #777777;
}

a:hover {
    color: black;
}

a:active {
    color: blue;
}

/*---ABOUT SECTION---*/
.about-me-container {
    width: 800px;
    float: left;
    margin-right: 50px;
}

.about-content {
    background-color: white;
    width: 800px;
    border: 1px solid #dddddd;
    margin: 20px;
    padding: 10px;
    display: inline-block;
}

.about-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    font-size: 27px;
    margin: 15px;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #777777;
}

.about-image {
    width: 200px;
    float: left;
    margin: 0 10px 5px 10px;
    padding: 5px 10px 5px 10px;
}

.about-desc {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 15px;
    line-height: 175%;
    padding: 5px;
    color: #777777;
}

/*---CONNECT SECTION---*/
.connect {
    background-color: white;
    width: 200px;
    height: 150px;
    float: left;
    margin: 20px 20px 20px 10px;
    padding: 10px;
    border: 1px solid #dddddd;
}

#connect-title {
    border-bottom: 1px solid #777777;
    margin-bottom: 10px;
    padding: 0 0 0 0;
    height: 43px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
}

/*---PORTFOLIO---*/
.portfolio-header {
    background-color: white;
    width: 744px;
    border: 2px solid black;
    height: 100%;
}

.portfolio_title {
    color: #4aaaa5;
    background-color: white;
    padding: 20px;
    margin: 0 auto;
    width: 700px;
    border-bottom: 1px solid #777777;
    float: left;
}

.portfolio-container {
    background-color: white;
    clear: both;
    overflow: auto;
    width: 700px;
    padding: 20px;
}
.portfolio_1 {
    float: left;
    width: 250px;
    height: 250px;
    margin: 0 10px 10px 0;
}

.p_title_1 {
    float: left;
    background-color: #4aaaa5;
    width: 250px;
    padding: 15px 0 15px 0;
    text-align: center;
    margin-left: -260px;
    margin-top: 170px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

.portfolio_2 {
    float: left;
    width: 250px;
    height: 250px;
    margin: 0 0 0 10px;
}

.p_title_2 {
    float: left;
    background-color: #4aaaa5;
    width: 250px;
    padding: 15px 0 15px 0;
    text-align: center;
    margin-left: -250px;
    margin-top: 170px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

.portfolio_3 {
    clear: both;
    overflow: auto;
    float: left;
    margin-left: 15px;
}

.portfolio_4 {
    float: left;
    margin: 0  0 0 30px;
}

.portfolio_5 {
    clear: both;
    overflow: auto;
    margin-left: 15px;
}


/*---COPYRIGHT---*/
.copyright {
    clear: both;
    margin: 0 auto;
    padding: 2px;
    border: 1px solid #777777;
    background-color: #666666;
    width: 100%;
    height: 100px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 11px;
    color: white;
    text-align: center;
    border-top: 8px solid #4aaaa5;
}
/*---END COPYRIGHT---*/

/*---END CSS---*/